@using Microsoft.AspNetCore.Identity
@using HotelTest2.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



    <!-- Sto se tice Login i Registration forme, danas do kraja dana cu pokusati da sredim. Jer se automatski kreira cim se kreira projekat.
         S obzirom, da sam se povezao na localhost/phpmyadmin, drugacije se generisu tabele u bazi.
        Kada se klikne na Registration dugme (https://localhost:7096/Identity/Account/Register) i Login (https://localhost:7096/Identity/Account/Login),
        u samom projektu, nema fajlova za editovanje/konfigurisanje stranice

        Danas do kraja dana cu pokusati da resim :) 
        -->

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>

