@{
    ViewData["Title"] = "Home Page";
}
<head>

</head>
<style>
    body{
        background: url("/Images/hotelimage.jpeg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style>
<body>
    <div class="text-center">
        <h1 class="display-4">Dobro dosli</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

</body>



